Source: xsysinfo
Section: utils
Priority: optional
Maintainer: tony mancill <tmancill@debian.org>
Build-Depends: debhelper (>= 9), libxaw7-dev, xutils-dev, libsm-dev, libice-dev
Standards-Version: 4.6.0
Vcs-Git: https://salsa.debian.org/debian/xsysinfo.git
Vcs-Browser: https://salsa.debian.org/debian/xsysinfo
Homepage: https://sourceforge.net/projects/xsysinfo

Package: xsysinfo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: display some Linux kernel parameters in graphical form
 This X client is like a mix of top, free and xload with the difference that
 the values are shown in form of a horizontal bar.  The displayed values are:
 CPU load, CPU idle, memory and swap sizes.
