#!/usr/bin/make -f

%:
	dh $@

CDEBUGFLAGS = -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CDEBUGFLAGS += -O0
else
	CDEBUGFLAGS += -O2
endif

override_dh_auto_build:
	dh_auto_build
	xmkmf
	$(MAKE) CDEBUGFLAGS="$(CDEBUGFLAGS)" xsysinfo

#install: build
#	$(MAKE) DESTDIR=$(CURDIR)/debian/xsysinfo install

override_dh_auto_install:
	dh_installchangelogs	CHANGES
	dh_installdocs		README
	dh_installman		debian/xsysinfo.man
	dh_auto_install
